*{
    margin: 0px;
    border: 0px;
}
header
{
    display: flex ;
    align-items: center ;
    justify-content: space-between;
    background-color:  #2B2E4A;

}
#left
{
    display: flex;
    align-items: center;
    color: aliceblue;

}
#right a
{
    justify-content: space-evenly;
    margin-inline: 20px;
    text-decoration: none;
    color: aliceblue;
}
#right :hover
{
    color: aqua ;
}
#btn button
{
    padding: 10px 10px ;
    border-radius: 10px ;
    background-color: aqua;
    color: rgb(18, 17, 17) ;
    font-weight: 600;
    
}
#btn :hover
{
    color: rgb(20, 220, 197) ;
}
section
{
    background-color: #4573e8;
    height: 88vh ;
    width: 100%;
    display: flex;
}
#mainicon
{
    margin-top: 80px;
    margin-left: 0px;
}
#div
{
    margin-top: 250px;
    margin-left: 60px;
}
h1
{
    font-size: 30px;
}
p
{
    font-size: 20px;

}
footer{
    height: 40vh;
    background-color: coral;
}
#left-foot a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 1px;
}
#left-pre{
    padding-top: 80px;
}
footer{
    display: flex;
}
#social-media{
    padding-top: 5px;
    padding-left: 300px;
}
#media-tag{
    padding-top: 90px;
    padding-left: 300px;
    text-transform: uppercase;
    font-size: larger;
}
#eager-pre{
    color: black;
    padding-left: 100px;
    padding-top: 90px;
}