*{
    margin: 0%;
    font-family: 'Lato', sans-serif;
    cursor: context-menu;
}
header
{
    background-color: #b9f3fc;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
#logo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* #logo-text{
    border: 1px solid transparent;
    background-color: white;
    align-items: center;
    padding-left:3px ;
    padding-right:3px ;
} */
#logo-text h1{
    border: 1px solid transparent;
    background-color: white;
    padding-left: 6px;
    /* padding-top: -20px; */
}
#logo-text h4{
    border: 1px solid transparent;
    background-color: rgb(210, 217, 217);
    /* padding-left: 5px; */
}
#left-head
{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
#links{
    padding-top: 15px;
    display: flex;
}
#links .a{
    margin-left: 10px;
    padding-left: 15px;
    /* align-content: center; */
    color: rgb(10, 10, 10);
    text-decoration: solid;
    text-transform: uppercase;
    font-weight: 800;
    /* padding-bottom: 1px; */

}
#links .a:hover{
    font-size: +20px;
    text-decoration: underline black    ;
}
#dropdown{
    position: relative;
    display: inline-block;
}
#dropdown-link{
    display: none;
    position: absolute;
    background-color: #f1f1f1 transparent;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
#dropdown-link a{
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-link a:hover {background-color: rgb(236, 248, 255);}

#dropdown:hover #dropdown-link {display: block;}

/* .dropdown:hover #a {background-color: #3e8e41;} */
#right-head button{
    border: 1px solid transparent;
    background-color: white;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px;

}
#right-head button:hover{
    background-color: grey;color: white;
}

main{
    background-color: #aee2ff;
    height: 100vh;
    /* width: 100%; */
    display: flex;
    padding-left: 25px;
    /* padding-right: 25px; */
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

}
#right-hero{
    font-size: 20px;
    font-weight: 100;
}
#right-hero span{
    font-weight: 900;
    font-size: 30px;   
}

nav{
    background-color: #aee2ff;
    height: 90vh;
    /* width: 100%; */
    align-content: center;
    justify-content: center;
    align-content:center;
    padding-left: 100px; 
    /* padding-left: 16%; */
    /* padding-top: 13%; */
    
}


footer{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#2a7fa2;
    width: auto;
    /* min-height: 10vh; */
    max-height:20vh ;
    display: flex;
    justify-content: space-between;
    align-content: space-between;

    font-family: 'Exo 2', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
}
#leftfoot{
    display: grid;
}
#leftfoot a{
    font-size: 10px;
}
#centerfoot{
    color: white;
    
}
#leftfoot a{
    color: white;
    text-decoration: solid;
}
#rightfoot p{
    font-family: monospace;
    font-style: italic;
    color: white;
}