*{
    margin: 0px;
    border: 0px;
}
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    background-color:  #2B2E4A;
    position: sticky;
    top: 0%;
    z-index: 100%;

}
#top-line{
    height: 2px;
    background-color: white;
}
#bottom-line{
    height: 2px;
    background-color: white;
}
#left
{
    display: flex;
    align-items: center;
    color: aliceblue;

}
#right a
{
    justify-content: space-evenly;
    margin-inline: 20px;
    text-decoration: none;
    color: aliceblue;
}
#right :hover
{
    color: aqua ;
}
#btn button
{
    padding: 10px 10px ;
    border-radius: 10px ;
    background-color: aqua;
    color: rgb(18, 17, 17) ;
    font-weight: 600;
    
}
#btn :hover
{
    color: crimson ;
}
section
{
    background-color: #E84545;
    height: 100vh;
    width: 100% ;

}
.docs
{
    color: aqua;    
}
#text
{
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    color: aliceblue;
    font-size: 30px;
}
#title
{
    color: aliceblue;
    margin-left: 40%;
    font-size: 40px;
}


#cpc
{

    text-decoration: none;
    color: white;
}
#icons1
{
    display: flex ;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
#icons2
{
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 250px;
}
footer{
    height: 40vh;
    background-color: coral;
}
#left-foot a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 1px;
}
#left-pre{
    padding-top: 80px;
}
footer{
    display: flex;
}
#social-media{
    padding-top: 5px;
    padding-left: 300px;
}
#media-tag{
    padding-top: 90px;
    padding-left: 300px;
    text-transform: uppercase;
    font-size: larger;
}
#eager-pre{
    color: black;
    padding-left: 100px;
    padding-top: 90px;
}